
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Mvc Tablo örneği--KATEGORİ</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Flim</td>
        <td>Yaptık</td>
        <td>Yayında</td>
        <td><button class="bg-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>2</td>
        <td>SPOR</td>
        <td>Yaptık</td>
        <td>dövüşülüyor</td>
        <td><button class="bg-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>kitap</td>
        <td>Yazdık</td>
        <td>basılıyor</td>
        <td><button class="bg-success">Güncelle</button></td>

    </tr>
</table>
<button class="btn-info">Yeni kategöri</button>
<button class="btn-info">kategöri listeleniyor</button>
<button class="btn-info"> kategöri Açıklama</button>

